.container-fluid {
    background-size: cover;
    background-position: center center;
    outline: solid 4px white;
    outline-offset: -40px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.329);
    height: 100vh;
}

.down {
    margin-top: 10em;
}

.link {
    cursor: pointer;
}